* {
    margin: 0;
    padding: 0;
}

body * {
    /* takes into account padding and borders, not margin */
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
    display: flex;
    flex-wrap: wrap;
}

section {
    border: dotted 1px #CCC; 
    width: calc(25% - 20px);
    padding: 10px;
    /*
    Alternative syntax:
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
    margin: 10px;
    /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}

section img {
    transform: translateX(-10px);
    width: calc(100% + 20px);
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    section {
        width: calc(50% - 20px);
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: calc(100% - 20px);
    }
}